#tools {
  position: absolute;
  width: 150px;
}

label[for="testResult"] {
  margin-top: 5px;
  display: block;
}

#testResult {
  border-radius: 8px;
  padding: 3px;
}

#machineGraph {
  margin-left: 155px;
  width: 800px;
  height: 400px;
  border: 1px solid #aaa;
  position: relative;
}

#start {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: default;
}

div.state {
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #add;
  padding-left: 5px;
  cursor: move;
  border-radius: 15px;
}

div.plumbSource {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  background-color: #55a;
  cursor: pointer;
  border-radius: 6px;
}

input[type="checkbox"].isAccept {
  vertical-align: middle;
}

