#tools {
  position: absolute;
  width: 150px;
}

#machineGraph {
  margin-left: 155px;
  width: 500px;
  height: 400px;
  border: 1px solid #aaa;
  position: relative;
}

div.state {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: #add;
  line-height: 40px;
  text-align: center;
  cursor: move;
  border-radius: 15px;
}

div.transitionStartPoint {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 10px;
  background-color: #55a;
  cursor: pointer;
}

