body {
  font-family: sans-serif;
}

h1 {
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
  letter-spacing: 4px;
  word-spacing: 75px;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: normal;
  text-align: center;
}

button img, div.delete img {
  vertical-align: middle;
}

#tools {
  position: absolute;
  width: 175px;
}

  #testResult {
    padding: 3px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
  }
  
  #tools input[type="text"], #tools textarea {
    width: 170px;
  }
  #tools textarea {
    height: 145px;
  }
  
  #tools label {
    font-size: smaller;
  }

#mainHolder {
  margin-left: 180px;
  min-width: 500px;
}

#machineGraph {
  height: 330px;
  border: 1px solid #aaa;
  position: relative;
}

  #start {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: default;
  }

  div.state {
    position: absolute;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #add;
    padding-left: 5px;
    cursor: move;
    border-radius: 15px;
  }

    div.current {
      background-color: #8c8;
    }

    div.plumbSource {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5px;
      top: 5px;
      background-color: #55a;
      cursor: pointer;
      border-radius: 6px;
    }

    input[type="checkbox"].isAccept {
      vertical-align: middle;
    }

    div.delete {
      position: absolute;
      top: -18px;
      left: 40px;
      width: 20px;
      height: 20px;
      line-height: 20px; 
      text-align: center;
      color: #aaa;
      border: 1px solid #aaa;
      border-radius: 5px;
    }

    div.delete:hover {
      cursor: pointer;
    }

#resultConsole {
  height: 180px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  overflow: auto;
}

  #resultConsole div {
    font-size: small;
    padding-left: 5px;
  }
  
  .pending {
    background-color: #bbf;
  }
  
  .Pass {
    background-color: #bfb;
  }
  
  .Fail {
    background-color: #fbb;
  }

#footer {
  clear: both;
  font-size: 8pt;
  text-align: center;
  margin-top: 2px;
}
