body {
  font-family: sans-serif;
}

h1 {
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
  letter-spacing: 3px;
  word-spacing: 20px;
}

  button.delegate {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    width: 45px;
    vertical-align: top;
  }
  
h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: normal;
  text-align: center;
}

button img, div.delete img {
  vertical-align: middle;
}

#tools {
  position: absolute;
  width: 175px;
}

  #testResult {
    padding: 3px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
  }
  
  #tools input[type="text"], #tools textarea {
    width: 170px;
  }
  #tools textarea {
    height: 145px;
  }
  
  #tools label {
    font-size: smaller;
  }

#mainHolder {
  margin-left: 180px;
  min-width: 500px;
}

#machineGraph {
  height: 330px;
  border: 1px solid #aaa;
  position: relative;
}

  #start {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: default;
  }

  #dfaStatus {
    position: absolute;
    border: 1px solid #aaa;
    background-color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 9pt;
    letter-spacing: 2px;
    z-index: 100;
    border-radius: 2px;
    opacity: 0.8;
  }
    #consumedInput {
      text-decoration: line-through;
    }
    #currentInput {
      font-weight: bold;
      margin-left: 4px;
      margin-right: 4px;
    }
    #futureInput {
      font-style: italic;
    }

  div.state {
    position: absolute;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #add;
    padding-left: 5px;
    cursor: move;
    border-radius: 15px;
    text-align: center;
  }
    
    div.current {
      background-color: #8c8;
    }

    div.plumbSource {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5px;
      top: 5px;
      background-color: #55a;
      cursor: pointer;
      border-radius: 6px;
    }

    input[type="checkbox"].isAccept {
      position: absolute;
      top: 5px;
      left: 5px;
    }

    div.delete {
      position: absolute;
      top: -18px;
      left: 40px;
      width: 20px;
      height: 20px;
      line-height: 20px; 
      text-align: center;
      color: #aaa;
      border: 1px solid #aaa;
      border-radius: 5px;
    }

    div.delete:hover {
      cursor: pointer;
    }

#resultConsole {
  font-size: small;
  height: 180px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  overflow: auto;
}

  #resultConsole div {
    padding-left: 5px;
  }
  
  .pending {
    background-color: #bbf;
  }
  
  .Pass {
    background-color: #bfb;
  }
  
  .Fail {
    background-color: #fbb;
  }

#footer {
  clear: both;
  font-size: 8pt;
  text-align: center;
  margin-top: 2px;
}


/* Image Configurations */
button.image img, img.delete {
  background-image: url('../images/sprites_16.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
}

img.delete {background-position: 0 -594px;}
img.delete:hover {background-position: 0 -528px;}

#loadBtn img {background-position: 0 -792px;}
#loadBtn:disabled img {background-position: 0 -858px;}

#saveBtn img {background-position: 0 -660px;}
#saveBtn:disabled img {background-position: 0 -726px;}

#addStateBtn img {background-position: 0 0;}
#addStateBtn:disabled img {background-position: 0 -66px;}

#testBtn img {background-position: 0 -132px;}
#testBtn:disabled img {background-position: 0 -198px;}

#stopBtn img {background-position: 0 -396px;}
#stopBtn:disabled img {background-position: 0 -462px;}

#debugBtn img {background-position: 0 -264px;}
#debugBtn:disabled img {background-position: 0 -330px;}

#bulkTestBtn img {background-position: 0 -132px;}
#bulkTestBtn:disabled img {background-position: 0 -198px;}

